apiVersion: apps/v1
kind: Deployment
metadata:
  name: dna-admin
  namespace: default
  labels:
    app: dna-admin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dna-admin
  template:
    metadata:
      labels:
        app: dna-admin
    spec:
      containers:
        - name: dna-admin
          # image: dna-admin:0.1
          image: localhost:32000/dna-admin:0.1
          imagePullPolicy: Always
          # imagePullPolicy: IfNotPresent
          env:
            - name: COMPANY_LOGO
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: COMPANY_LOGO
            - name: COMPANY_BACKGROUND
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: COMPANY_BACKGROUND
            - name: DNA_API_URL
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: DNA_API_URL
            - name: DNA_API_KEY
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: DNA_API_KEY
            - name: SECRET_KEY_BASE
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: SECRET_KEY_BASE
            - name: DEVISE_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: DEVISE_SECRET_KEY
            - name: DATABASE_HOST
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: DATABASE_HOST
            - name: DATABASE_PORT
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: DATABASE_PORT
            - name: DATABASE_NAME
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: DATABASE_NAME
            - name: DATABASE_USER
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: DATABASE_USER
            - name: DATABASE_PASS
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: DATABASE_PASS
            - name: PUSHER_APP_ID
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: PUSHER_APP_ID
            - name: PUSHER_KEY
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: PUSHER_KEY
            - name: PUSHER_SECRET
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: PUSHER_SECRET
            - name: PUSHER_CLUSTER
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: PUSHER_CLUSTER
            - name: TOKEN_EXPIRATION
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: TOKEN_EXPIRATION
            - name: TOKEN_KEY_BASE
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: TOKEN_KEY_BASE
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: AWS_SECRET_ACCESS_KEY
            - name: AWS_REGION_NAME
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: AWS_REGION_NAME
            - name: AWS_BUCKET_NAME
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: AWS_BUCKET_NAME
            - name: MAILGUN_HOST
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: MAILGUN_HOST
            - name: MAILGUN_USER
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: MAILGUN_USER
            - name: MAILGUN_PASS
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: MAILGUN_PASS
            - name: MAILGUN_PORT
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: MAILGUN_PORT
            - name: MAILGUN_DOMAIN
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: MAILGUN_DOMAIN
            - name: AUTHORIZE_NET_API_LOGIN_ID
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: AUTHORIZE_NET_API_LOGIN_ID
            - name: AUTHORIZE_NET_TRANSACTION_KEY
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: AUTHORIZE_NET_TRANSACTION_KEY
            - name: AUTHORIZE_NET_KEY
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: AUTHORIZE_NET_KEY
            - name: QUICKBOOKS_ONLINE
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: QUICKBOOKS_ONLINE
            - name: TWILIO_ACCOUNT_SID
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: TWILIO_ACCOUNT_SID
            - name: TWILIO_AUTH_TOKEN
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: TWILIO_AUTH_TOKEN
            - name: TWILIO_PHONE_NUMBER
              valueFrom:
                secretKeyRef:
                  name: dna-admin-secrets
                  key: TWILIO_PHONE_NUMBER
          envFrom:
            - secretRef:
                name: dna-admin-secrets
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: db
  namespace: default
  labels:
    app: db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
        - name: db
          image: postgres:13
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_PASSWORD
              value: c03213be9ab9014e
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: db-data
      volumes:
        - name: db-data
          hostPath:
            # directory location on host
            path: /data
